	<!-- Scripts necessary for including static figures made in R ggvis -->
		
		<link href="/assets/lib/jquery-ui/jquery-ui.min.css" rel="stylesheet" /> 
		<script src="/assets/lib/jquery-ui/jquery-ui.min.js"></script> 
		<script src="/assets/lib/d3/d3.min.js"></script>
		<script src="/assets/lib/vega/vega.min.js"></script>
		<script src="/assets/lib/lodash/lodash.min.js"></script>
		<script>var lodash = _.noConflict();</script>
		<link href="/assets/lib/ggvis/ggvis.css" rel="stylesheet" />
		<script src="/assets/lib/ggvis/ggvis.js"></script>
		<script src="/assets/lib/ggvis/shiny-ggvis.js"></script>
		